<!-- xDojo Navbar START -->
<div id="xdojonav" class="xdojonav">
	<a id="xhamburger" class="xhamburger" href="#hamburger"><i class="fa fa-bars fa-fw"></i> Menu</a>
	<ul>
		<li><a href="#link1"><i class="fa fa-home"></i> link1</a></li>
		<li><a href="#link2"><i class="fa fa-gear"></i> link2</a></li>
		<li><a href="#link5"><i class="fa fa-user-secret"></i> link3</a></li>
		<li><a href="#link5"><i class="fa fa-superpowers"></i> link4</a></li>
	</ul>
		
	<ul class="xdojonav_finder">
		<li class="xsearch">
			{% INCLUDE 'search_form.html' %}
		</li>
	</ul>
	
</div>
<!-- xDojo Navbar END -->