
<!-- xDojo Navbar START-->
<div class="xdojonav" id="xdojonav"><a class="xhamburger" id="xhamburger" href="#hamburger"><i class="fa fa-bars fa-fw"></i> Menu</a>
  <ul>
    <li><a href="#link1"><i class="fa fa-home"></i> link1</a>
      <div class="xdojonav_underhover">
        <ul class="wide_under">
          <li><a href="#sublinkwide">sublinkwide</a></li>
        </ul>
        <ul>
          <li><a href="#sublink1">sublink1</a></li>
          <li><a href="#sublink2">sublink2</a></li>
          <li><a href="#sublink3">sublink3</a></li>
        </ul>
        <ul>
          <li><a href="#sublink1">sublink1</a></li>
          <li><a href="#sublink2">sublink2</a></li>
          <li><a href="#sublink3">sublink3</a></li>
        </ul>
      </div>
    </li>
    <li><a href="#link2"><i class="fa fa-gear"></i> link2</a></li>
    <li><a href="#link3"><i class="fa fa-user-secret"></i> link3</a></li>
    <li><a href="#link4"><i class="fa fa-superpowers"></i> link4</a>
      <div class="xdojonav_underhover_xl">
        <ul>
          <li><a href="#sublink1">sublink1</a></li>
          <li><a href="#sublink2">sublink2</a></li>
        </ul>
        <ul>
          <li><a href="#sublink3">sublink3</a></li>
          <li><a href="#sublink4">sublink4</a></li>
        </ul>
        <ul>
          <li><a href="#sublink5">sublink5</a></li>
          <li><a href="#sublink6">sublink6</a></li>
        </ul>
      </div>
    </li>
  </ul>
  <ul class="xdojonav_finder">
    <li class="xsearch">{% INCLUDE 'search_form.html' %}</li>
  </ul>
</div>
<!-- xDojo Navbar END-->