
<!-- vars-->
<!-- xDojo Navbar START-->
<div class="xdojonav" id="xdojonav"><a class="xhamburger" id="xhamburger" href="#hamburger"><i class="fa fa-bars fa-fw"></i> Menu</a>
  <ul>
    <li><a href="#link1"><i class="fa fa-home"></i> link1</a>
      <div class="xdojonav_underhover">
        <ul class="wide_under">
          <li><a href="#sublinkwide">
              <h4>Testo</h4>
              <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Odit quis cumque eos voluptatibus</p></a></li>
        </ul>
        <ul>
          <li><a href="#sublink1">
              <h4>Testo</h4>
              <p>Lorem ipsum dolor sit, amet consectetur </p></a></li>
          <li><a href="#sublink2">
              <h4>Testo</h4>
              <p>Lorem ipsum dolor sit, amet consectetur </p></a></li>
        </ul>
        <ul>
          <li><a href="#sublink1">
              <h4>Testo</h4>
              <p>Lorem ipsum dolor sit, amet consectetur </p></a></li>
          <li><a href="#sublink2">
              <h4>Testo</h4>
              <p>Lorem ipsum dolor sit, amet consectetur </p></a></li>
        </ul>
      </div>
    </li>
    <li><a href="#link2"><i class="fa fa-gear"></i> link2</a></li>
    <li><a href="#link3"><i class="fa fa-user-secret"></i> link3</a></li>
    <li><a href="#link4"><i class="fa fa-superpowers"></i> link4</a>
      <div class="xdojonav_underhover_xl">
        <ul class="wide_under">
          <li><a href="#sublinkwide"> 
              <h4>Testo</h4>
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Omnis, animi excepturi nemo laboriosam, maxime tempore commodi cupiditate debitis vel, sint quas</p></a></li>
        </ul>
        <ul>
          <li><a href="#sublink1">
              <h4>Testo</h4>
              <p>Lorem ipsum dolor sit, amet consectetur </p></a></li>
          <li><a href="#sublink2">
              <h4>Testo</h4>
              <p>Lorem ipsum dolor sit, amet consectetur </p></a></li>
        </ul>
        <ul>
          <li><a href="#sublink1">
              <h4>Testo</h4>
              <p>Lorem ipsum dolor sit, amet consectetur </p></a></li>
          <li><a href="#sublink2">
              <h4>Testo</h4>
              <p>Lorem ipsum dolor sit, amet consectetur </p></a></li>
        </ul>
        <ul>
          <li><a href="#sublink1">
              <h4>Testo</h4>
              <p>Lorem ipsum dolor sit, amet consectetur </p></a></li>
          <li><a href="#sublink2">
              <h4>Testo</h4>
              <p>Lorem ipsum dolor sit, amet consectetur </p></a></li>
        </ul>
      </div>
    </li>
  </ul>
  <ul class="xdojonav_finder">
    <li class="xsearch">{% INCLUDE 'search_form.html' %}</li>
  </ul>
</div>
<!-- xDojo Navbar END-->