//
// Vars for config stuff 
//
@import '0-config/_config'

/*!
 * Tempo per l'Animazione del sottomenu
 * cambia il tempo come preferisci. Sostituendo 200ms
 * con un tempo desiderato in millisecondi (ms) o secondi (s).
 * Se vuoi che non ci sia alcuna transizione
 * rimpiazza la linea transition: opacity 200ms ease-in-out
 * con transition: none !important;
 */
.xen 
	ul
		li
			& > div.xen_sub, & > div.xen_sub_xl
				transition: opacity 200ms ease-in-out
	
/*!
 * Nascondi/Visualizza la search box nell'header
 * Basterà cambiare block con none per farla apparire
 * Attualmente su none quindi nascosta  
 */
#search-box
	display: none


/*!
 * Nascondi/Visualizza la search box nella barra di navigazione
 * Basterà cambiare block con none per farla apparire
 * Attualmente su block quindi presente  
 */
.xen 
	ul 
		&.xen_finder
			display: block


/*!
 * Configura il padding tra i link. Il velore di default è 20
 * se il menu ha molti link puoi ridurlo e fare posto a più
 * elementi
 */
.xen 
	ul 
		li 
			& > a, 
			& > a:link, 
			& > a:visited 
				padding: 
					left: map-get($configurator, link_padding)
					right: map-get($configurator, link_padding)