@charset "UTF-8";
/*!
 * Tempo per l'Animazione del sottomenu
 * cambia il tempo come preferisci. Sostituendo 200ms
 * con un tempo desiderato in millisecondi (ms) o secondi (s).
 * Se vuoi che non ci sia alcuna transizione
 * rimpiazza la linea transition: opacity 200ms ease-in-out
 * con transition: none !important;
 */
.xdnav ul li > div.xdnav_sub, .xdnav ul li > div.xdnav_sub_xl {
  -webkit-transition: opacity 200ms ease-in-out;
  -o-transition: opacity 200ms ease-in-out;
  transition: opacity 200ms ease-in-out;
}

/*!
 * Nascondi/Visualizza la search box nell'header
 * Basterà cambiare block con none per farla apparire
 * Attualmente su none quindi nascosta
 */
#search-box {
  display: none;
}

/*!
 * Nascondi/Visualizza la search box nella barra di navigazione
 * Basterà cambiare block con none per farla apparire
 * Attualmente su block quindi presente
 */
.xdnav ul.xdnav_finder {
  display: block;
}
