// Animation placeholders
%transition300ms
	transition: background 300ms ease-in-out, color 300ms ease-in-out

%transitionSub300ms
	transition: opacity 200ms ease-in-out
	@media all and (max-width: 700px)
		transition: none !important

// Animations positioning    
.xen 
	ul
		li
			& > a, 
			& > a:link, 
			& > a:visited
				@extend %transition300ms
			
			& > div.xen_sub, & > div.xen_sub_xl
				@extend %transitionSub300ms