// checkmode for developing purposes
@if ( map-get($configurator, 'auto_style_color_activator') == 'both' or map-get($configurator, 'auto_style_color_activator') == 'colors' )
	//- instanciate vars for coloring stuff process
	@each $colors_allowed_item in $colors_allowed_list
		$color_ary: coloring_composition_ary($colors_allowed_item)

		$xdojonav: 'xen'
		
		@if $colors_allowed_item != #105289
			$xdojonav: 'xen_' + quote(#{$colors_allowed_item})

		.#{$xdojonav}
			background: linear-gradient( map-get($color_ary, top), map-get($color_ary, bottom) )
			
			@if ( map-get($configurator, 'color_levels_variations') >= 1 )
				@for $i from 1 through map-get($configurator, 'color_levels_variations')
					&.#{$xdojonav}_#{$i}
						+navbar_coloring_type_rendering('darken')

					&.#{$xdojonav}_light_#{$i}
						+navbar_coloring_type_rendering('lighten')
			
			ul 
				li 
					@if hue( $colors_allowed_item ) > 40 and hue( $colors_allowed_item ) < 180
						& > a, & > a:visited, & > a:link
							color: #000000
					& > a:hover, &:hover > a 
						background: map-get($color_ary, hover)
					& > a.xen_mobile_toggle
						&:hover   
							background: lighten(map-get($color_ary, hover), 5%)
					& > div.xen_sub, & > div.xen_sub_xl
						//- background: map-get($color_ary, hover)
						background: linear-gradient( map-get($color_ary, hover), map-get($color_ary, bottom) )
						box-shadow: 0 2px 2px darken(map-get($color_ary, top), 20%)
						ul
							li
								&:hover, & > a:hover
									background: map-get($color_ary, subhover)
								&.xen_ext_link
									& > a, 
									& > a:link, 
									& > a:visited 
										@if hue( $colors_allowed_item ) > 40 and hue( $colors_allowed_item ) < 180
											background:
												image: url( map-get($external_img, dark) )
										@else
											background:
												image: url( map-get($external_img, light) )
						.xen_sub_footer
							@if hue( $colors_allowed_item ) > 40 and hue( $colors_allowed_item ) < 180
								a, a:link, a:visited
									color: #000000
			.search-header
				box-shadow: 0 0 4px darken(map-get($color_ary, top), 20%)

				.button-search, .button-search-end
					& i
						color: map-get($color_ary, top) !important
					&:hover i
						color: map-get($color_ary, bottom) !important

		/* media queries */
		@media all and (max-width: 700px) 
			.#{$xdojonav}
				@if ( map-get($configurator, 'color_levels_variations') >= 1 )
					@for $i from 1 through map-get($configurator, 'color_levels_variations')
						&.#{$xdojonav}_#{$i}
							.xen_menu_mobile
								background: x-color('darken',map-get($color_ary, hover),$i)
						&.#{$xdojonav}_light_#{$i}
							.xen_menu_mobile
								background: x-color('lighten',map-get($color_ary, hover),$i)		
				.xen_menu_mobile
					background: map-get($color_ary, hover)
			
			.#{$xdojonav}
				ul 
					background: map-get($color_ary, hover)
					box-shadow: none
					li
						& > div.xen_sub, & > div.xen_sub_xl
							box-shadow: none
							ul
								background: map-get($color_ary, hover)
								box-shadow: none
							.xen_sub_footer
								background: map-get($color_ary, hover)

					&.xen_finder
						box-shadow: none !important
						background:
							color: transparent !important

				@if ( map-get($configurator, 'color_levels_variations') >= 1 )
					@for $i from 1 through map-get($configurator, 'color_levels_variations')
						&.#{$xdojonav}_#{$i}
							+navbar_coloring_type_rendering_mobile('darken')

						&.#{$xdojonav}_light_#{$i}
							+navbar_coloring_type_rendering_mobile('lighten')