// config file for development
$configurator: (
    // suggested to remain until 25 or 30 levels ( because you have double levels )
    color_levels_variations: 25,
    // Mode allowed: full, minimal, custom, rgb
    minimal_colors: 'full',
    // Mode allowed: both, colors, auto
    auto_style_color_activator: 'both',
    // Customize the ary for custom color develop.
    // Combine with minimal_colors: custom mode. 
    custom_ary_color: ( 
        midnightblue 
    ),
);